@model properTech.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Accept";
}
<br />
<br />
<h1 style="text-decoration:underline">Accept</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Accept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <input type="hidden" asp-for="ResidentId" />
            <input type="hidden" asp-for="DateOfRequest" />
            <input type="hidden" asp-for="filePath" />
            <input type="hidden" asp-for="MaintenanceStatus" />
            <input type="hidden" asp-for="resident" />
            <input type="hidden" asp-for="tech" />
            <input type="hidden" asp-for="MaintanenceTechId" />
            <input type="hidden" asp-for="Unit" />

            <div class="form-group">
                <label asp-for="EstimatedCompletionDate" class="control-label"></label>
                <input asp-for="EstimatedCompletionDate" class="form-control" style="width:25%"/>
                <span asp-validation-for="EstimatedCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="5" style="width:75%"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Accept" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

