@model properTech.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Message the Resident</h1>

<h4>Messages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="RequestId" />
            <input type="hidden" asp-for="MaintenanceStatus" />
            <input type="hidden" asp-for="filePath" />
            <input type="hidden" asp-for="ResidentId" />
            <input type="hidden" asp-for="MaintanenceTechId" />
            <input type="hidden" asp-for="DateOfRequest" />
            <input type="hidden" asp-for="EstimatedCompletionDate" />
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

