
@{
    ViewData["Title"] = "VideoUpload";
}
<br />
<br />
<h1 style="text-align:center;text-decoration:underline">Video Upload</h1>
<br />
<h4>For faster service times, please upload a 10 second video of your maintenance issues</h4>
<br />

<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="UploadFiles">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>

