@model IEnumerable<properTech.Models.UnassignedUsers>

@{
    ViewData["Title"] = "AssignUsers";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Pending Users</h1>
<br />

<table class="table table-hover">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <thead>
        <tr class="table" style="background-color: #3bb871">
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-success">
                <th scope="row" style="background-color: #79D480">
                    @Html.DisplayFor(modelItem => item.Email)
                </th>
                <td>
                    <a asp-action="AssignResident" asp-route-id="@item.UnassignedId">Assign as Resident</a> 
                </td>
                <td>
                    <a asp-action="AssignMaintenance" asp-route-id="@item.UnassignedId">Assign as Maintenance</a>
                </td>
            </tr>
        }
    </tbody>
</table>
