
@{
    ViewData["Title"] = "Data";
}

<h1>Choose Data Table to View</h1>
<div>
<a asp-controller="ReportView" asp-action="MonthlyRevenue">Monthly Revenue</a><br />
<a asp-controller="ReportView" asp-action="QuarterlyEarnings">Quarterly Earnings</a><br />
<a asp-controller="ReportView" asp-action="OccupancyPercent">Monthly Occupancy Percentage</a><br />
<a asp-controller="ReportView" asp-action="ProjectedVacancies">Projected Vacancies</a><br />
<a asp-controller="ReportView" asp-action="TechEfficiency">Maintenance Tech Efficiency</a><br />
    </div>

