@model properTech.Models.MaintenanceRequest


@{
    ViewData["Title"] = "SingleRequest";
}

<h1>SingleRequest</h1>

<div id="video-file"></div>

<script>
    function myFunction() {
        var videoUpload = document.getElementByName("files")[0].value;
        document.getElementById("video-file").innerHTML = videoUpload;
    }
</script>

<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="UploadFiles">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
<br />


<video width="640" height="360" controls="controls">
    <source src=~/videos/IMG_1655[1]_1bae.MOV type="video/mp4" />
</video>

@*<video width="640" height="360" controls="controls">
    <source src=@Model.FilePath type="video/mp4" />
</video>*@
