
@{
    ViewData["Title"] = "Maintenance";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Maintenance</h1>
<br />
<br />
<form id="chat-form" class="simple-form";>
    <div class="jumbotron" ; style="opacity:0.8;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <center><img src=https://storybird.s3.amazonaws.com/artwork/andymcnally/full/happy-bot.jpeg ; height="100" ; style="position:center" /></center>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <br />
        <div class="row">
            <h4>Hi! I am Chad! I am here to help you solve basic Maintenance issues. If at any time you believe that I cannot assist, you can ask me to submit a maintenance request and I will notify a Maintenance Tech. You can track your maintenance status by either asking me or using the Navigation bar.</h4>
        </div>
    </div>
</form>
<center><div>
    <form id="my-form" class="simple-form">
        <input type="text" name="userMessage" placeholder="Talk to Chad here" style="width:75%; height:50px" />
        <button type="button" class="btn btn-primary" id="button1" onclick="getUserInput()">Send Message</button>
    </form>
</div></center>
<br />
<form>
    <div class="jumbotron" ; style="opacity: 0.8;">
        <div class="row">
            <p>You said:</p>
            <div class="col-sm-4" , id="userResponse" style="font-size:22px"></div>
            <p>Chad says:</p>
            <div class="col-sm-4" , id="chadResponse" style="font-size:22px"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>
<br />
<script src="~/js/Chad.js"></script>
