@model properTech.Models.Resident
@using Microsoft.Extensions.Options
@using System.Globalization
@inject IOptions<properTech.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Payment";
}

<form action="/Residents/Charge" method="POST">
    @{ 
        var balance = Model.Balance / 100;
    }
    <article>
        <label>Amount: @balance.ToString("C", CultureInfo.CurrentCulture)</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="@Html.DisplayFor(model => model.Balance)">
    </script>
</form>

