@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our outdated page that nobody cares about!!!!</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Urban Living</h2>
        <p></p>
<img src="~/image/Apartment1.jpg" width="430" height="360"/>
    </div>
    <div class="col-md-6">
        <h2>Luxury Apartments</h2>
        <p></p>
        <img src="~/image/HomepageExample.jpg" width="430" height="360"/>
    </div>
</div>
<br/>
<br/>
