@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div class="absolute">
        <img src="~/image/ProperTech Logo Est 2019.png">
    </div>
</center>

<div class="text-center">
    <p>Properties done properly.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <p>Rental Properties</p>
            <img src="~/image/home-carousel3.jpg" style="width:300px;height:200px;">
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <p>Complexes</p>
            <img src="~/image/365705.jpg" style="width:300px;height:200px;">
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <p>Apartment Buildings</p>
            <img src="~/image/origin.jpg" style="width:300px;height:200px;">
        </center>
    </div>
</div>


