
@{
    ViewData["Title"] = "UserIndex";
}

<h1 style="text-align:center; text-decoration:solid">Congratulations!  You have registered!</h1>
<br />
<br />
<h3 style="text-align:center">The property manager will review and approve your account.</h3>
<h3 style="text-align:center">Please log out and wait for account creation confirmation.</h3>
